/.env
/venv/
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/pyproject.toml
/.idea/tg-bot-video-analytics.iml
/.idea/vcs.xml
